*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding-top: 0em;
}
:root{
    --Black: #191e29;
    --myBlue: #132d46;
    --theBlue: #023e8a;
    --beauty: #0096c7;
    --light-green: #01c38d;
    --myGrey: #696e79;
    --white: #fff;
    --myGrey: rgb(196, 189, 189);
    --theorange: rgb(199, 180, 76);
  }

 .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95vh;
    overflow: hidden;
    z-index: -8; /* Places the video behind the content */
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
 .video-container img{
    width: 100%;

}
 .video-container img #bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire container */

}
.back-imgss{
    display: none;
}
header{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    position: fixed; 
    top: 0;
    z-index: 100; 
}

.header.head-active{
    background-color: #132d46;
    height: 120px;
    position: fixed;
    top: 0;
}
.header.head-active nav ul li a:hover {
    color: #fff;
}
header .logo {
    width: 80px;
    height: 100px;
    margin-left: 20px;
    margin-top: 10px;
}

header .logo img{
    width: 100%;
    height: 100%;
    border-radius: 2px;
}
header .nav{
    width: 80%;
    margin-left: 10%;
}

header .navbar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 0;
    padding: 0;
}
header #close{
    display: none;
}

header .navbar li{
    display: flex;  
    list-style: none;
}
header .navbar li a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    padding: 7px;
    border-radius: 10px;
    width: 100%;
    font-weight: 600;
}
.header.head-active .navbar li a{
    color: #fff;
}
header nav ul li a.active {
    background-color: #01c38d;
}
header nav ul li a.active:hover{
    padding: 7px;
    border-bottom: none;
    color: #fff;
}
header .menu, #menu-btn {
    display: none; 
}

header nav ul li a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}

header .menu{
    display: none;
}
.contact-page-container {
    width: 85%;
    margin: 0 auto;
    padding-top: 50px;
    margin-top: 100px;
}

.mainCont{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.mainCont h4{
    font-size: 1em;
    color: #fff;
}
 .mainCont h1{
    font-size: 7em;
    margin-top: 0px; /* Vertically center the content */
    color: #01c38d;
    text-align: center;
    width: 700px;
    text-decoration: none;
 }
 .mainCont p{
    color:  #fff;
    font-size: 1em;
    width: 50%;
    text-align: center;
 }
 article{
    margin-top: 100px;
    width:  100%;
    height: 100%;
 }
article .content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
article .content  .top{
    display: flex;
    flex-direction: row;
    gap: 30px ;
    padding: 50px;
}

article .content .imgCont{
    width: 150px;
    height: 150px;
}
article .content .imgCont img{
    width: 100%;
    height: 100%;
}
article .content h2{
    margin-top: 30px;
    width: 800px;
    text-align: center;
}

article .content .repo1{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-left: 20%;
}

article .content .repo1 .img{
    width: 300px;
    height: auto;
}

article .content .repo1 .img img{
    width: 100%;
    height: 100%;
}

article .content .repo1 .cont{
    width: 500px;
    margin-top: 50px;
}
article .content .repo1 .cont h1{
    color: #251919;
    font-size: 3em;
}
article .content .repo2{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-left: 10%;
}
article .content .repo2 .cont{
    width: 500px;
    margin-top: 100px;
}
article .content .repo2 .cont h1{
    color: #251919;
    font-size: 3em;
}
article .content .repo2 .img2{
    width: 300px;
    height: 100%;
 }

article .content .repo2 .img2 img{
    width: 100%;
    height: 100%;
}


article .minist{
    height: 100%;
    width: 70%;
    margin-left: 17%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin-top: 100px;
}
article .minist h2{
    font-size: 4em;
}
article .minist .m1{
    border: 1px solid;
    height: 200px;
    width: 200px;
}

article .minist .m1 img{
    width: 100%;
    height: 100%;
}

article .minist h3{
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 500;
}

article .minist2{
    height: 100%;
    width: 60%;
    margin-left: 23%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0;
    margin-top: 100px;
}
article .minist2 h3{
    font-size: 2em;
    text-align: center;  
    width: 100%;
}
article .minist2 .min {
    display: flex;
    flex-direction: column;
    gap: 5px;
   
}
article .minist2 .min p{
    
    font-size: 14px;
    text-align: center;
    font-weight: 700;
}
article .minist2 .min .m2{
    border: 2px solid #7f8c8d;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

article .minist2 .m2 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

article .minist2 .min h5{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

.fixed-icons {
    position: fixed;
    bottom: 20px; /* Distance from the bottom of the screen */
    right: 20px; /* Distance from the right side of the screen */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between icons */
    z-index: 1000; /* Ensure icons are on top of other elements */
}

.fixed-icons .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #333; /* Dark background for visibility */
    color: #fff; /* White icon color */
    text-decoration: none;
    font-size: 24px; /* Icon size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

.fixed-icons .icon:hover {
    background-color: #555; /* Change background color on hover */
    transform: scale(1.1); /* Slightly enlarge icon on hover */
}

/* Specific styles for each icon */
.fixed-icons .email {
    background-color: #132d46; /* Blue color for email */
}

.fixed-icons .whatsapp {
    background-color: #25D366; /* Green color for WhatsApp */
}

footer {
    background-color: #191e29;
    color: white;
    padding: 40px 0 20px;
    width: 100%;
    height: 350px;
    align-self: center;
    margin-top: 250px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

footer .footer-container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #7f8c8d;
}

footer .footer-column {
    width: 30%;
}

footer .footer-column h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #fff;
}

footer.footer-column p {
    font-size: 14px;
    color: #ccc;
}

footer .footer-column ul {
    list-style-type: none;
    padding-left: 0;
}

footer.footer-column ul li {
    margin-bottom: 10px;
}

footer .footer-column ul li a {
    color: #bbb;
    text-decoration: none;
    font-size: 14px;
}

footer .footer-column ul li a:hover {
    color: #2980b9;
}

/* Social Icons Styling */
footer .social-icons {
    display: flex;
    flex-direction: column;
}

footer .social-icons li {
    margin-bottom: 10px;
}

footer .social-icons li a {
    display: flex;
    align-items: center;
    color: #bbb;
}

footer .social-icons li a i {
    margin-right: 10px;
    font-size: 18px;
}

footer .social-icons li a:hover {
    color: #2980b9;
}

/* Footer Bottom Section */
footer .footer-bottom {
    text-align: center;
    margin-top: 100px;
}

footer .footer-bottom p {
    font-size: 14px;
    color: #ccc;
}

footer .footer-bottom p a {
    color: #2980b9;
    text-decoration: none;
}

footer .footer-bottom p a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        padding-top: 0em;
        background-color: #fff;
    }
    :root{
        --Black: #191e29;
        --myBlue: #132d46;
        --theBlue: #023e8a;
        --beauty: #0096c7;
        --light-green: #01c38d;
        --myGrey: #696e79;
        --white: #fff;
        --myGrey: rgb(196, 189, 189);
        --theorange: rgb(199, 180, 76);
      }
    
      .video-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70vh;
        overflow: hidden;
        z-index: -8; 
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
     .video-container img{
        width: 100%;
    
    }
     .video-container img #bg-video {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
    header{
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        position: fixed; 
        top: 0;
        z-index: 100;
   }
   .header.head-active{
    background-color: #132d46;
    height: 5.9em;
    position: fixed;
    top: 0;
    }
    header.head-active .menu #menu-btn{
        color: #fff;
    }

    header .logo {
        width: 4em;
        height: 5em;
        margin-top: 0.5em;
        margin-left: 2rem;
        
    }
    header .logo img{
    
        width: 100%;
        height: 100%;
        border-radius: 2px;
    }

    header .nav{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: beige;
        margin: 0;
        padding: 0;
        display: none;
    }
    header .navbar{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 50px;
        margin: 0;
        padding: 0;
        background-color: transparent;
    }
    header #close{
        display: flex;
        font-size: 24px;
        margin-left: 22em;
        margin-top: 30px;
        cursor: pointer;
    }
    header .navbar li{
        display: flex;  
        list-style: none;
        border: 1px solid rgb(214, 214, 214) ;
        width: 99%;
    }
    header .navbar li a{
        text-decoration: none;
        color: #132d46;
        font-weight: 400;
        padding: 5px;
        border-radius: 10px;
        width: 100%;
    }
    header nav ul li a.active {
        background-color: transparent;
        color: #01c38d;
    }
    header nav ul li a.active:hover{
        padding: 5px;
        border-bottom:  transparent;
        display: flex;
    }

    header nav ul li a:hover {
        color: #132d46;
        border-bottom: 0px solid #fff;
    }
    .header.head-active .navbar li a{
        color: #000;
    }
    .header.head-active nav ul li a.active{
        color: #01c38d;
    }
    .dropdown{
        display: flex;
        gap: 0px;
        width: 100%;
    }

    #about{
        width: 240px;
    }

    #dropdownIcon{
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-top: 5px;
        cursor: pointer;
        width: 100px;
    }
    
    .dropdown-content {
        flex-direction: column;
        position: absolute;
        right: 0px;
        top: 12em;
        left: 0px;
        width: 200px;
        height: 270px;
        background-color: beige;
        color: #fff; 
        font-weight: 300;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 101;
        gap: 40px;
        padding-top: 10px;
    }
    #navdrop {
        display: none;
    }

    #navdrop.show {
        display: flex;
    } 
    #cl {
        display: flex; 
        font-size: 18px;
        cursor: pointer;
    } 
    .dropdown-content a {
        color: #696e79;
        padding: 0;
        text-decoration: none;
        display: block;
        font-size: 15px;
        transition: background-color 0.3s ease, color 0.3s ease; 
        width: 100%;
    }
    .dropdown-content a.active{
        color: #01c38d;
    }
    .dropdown-content a:hover {
        background-color: #fff;
        color: #696e79;
    }
    .dropdown:hover .dropdown-content {
        display: flex;
    }

    header .menu {
        display: flex; 
        justify-content: flex-end;
        width: 80px;
        height: 30px;
        margin-left: 29em;
        margin-top: 30px;
    }
    header .menu #menu-btn {
        display: flex;
        cursor: pointer;
        font-size: 24px;
        color: #fff;
    }

    .mainCont{
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mainCont h4{
        font-size: 0.8em;
        color: #fff;
    }
     .mainCont h1{
        font-size: 4em;
        margin-top: 0px; /* Vertically center the content */
        color: #194a79;
        text-align: center;
        width: 100%;
        text-decoration: none;
     }
     .mainCont p{
        color:  #fff;
        font-size: 0.8em;
        width: 50%;
        text-align: center;
     }
     article{
        margin-top: 150px;
        width:  100%;
        height: 100%;
     }
    article .content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    article .content  .top{
        display: flex;
        flex-direction: row;
        gap: 20px ;
        padding: 30px;
    }
    
    article .content .imgCont{
        width: 150px;
        height: 150px;
    }
    article .content .imgCont img{
        width: 100%;
        height: 100%;
    }
    article .content h2{
        margin-top: 30px;
        width: 800px;
        text-align: center;
    }
    
    article .content .repo1{
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin-left: 5%;
        width: 90%;
    }
    
    article .content .repo1 .img{
        width: 250px;
        height: 100%;
    }
    
    article .content .repo1 .img img{
        width: 100%;
        height: auto;
    }
    
    article .content .repo1 .cont{
        width: 60%;
        margin-top: 50px;
        height: 100%;
    }
    article .content .repo1 .cont h1{
        color: #251919;
        font-size: 2em;
    }
    article .content .repo1 .cont h3{
        font-size: 18px;
    }
    article .content .repo2{
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin-left: 5%;
        width: 90%;
    }
    article .content .repo2 .cont{
        width: 60%;
        margin-top: 80px;
    }
    article .content .repo2 .cont h1{
        color: #251919;
        font-size: 2em;
    }
    article .content .repo2 .cont h3{
        font-size: 18px;
    }
    article .content .repo2 .img2{
        width: 300px;
        height: 100%;
     }
    
    article .content .repo2 .img2 img{
        width: 100%;
        height: 100%;
    }
    
    
    article .minist{
        height: 100%;
        width: 80%;
        margin-left: 10%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        padding: 0;
        margin-top: 80px;
    }
    article .minist h2{
        font-size: 2.5em;
    }
    article .minist .m1{
        border: 1px solid;
        height: 150px;
        width: 150px;
    }
    
    article .minist .m1 img{
        width: 100%;
        height: 100%;
    }
    
    article .minist h3{
        width: 100%;
        display: flex;
        justify-content: center;
        font-weight: 500;
    }
    
    article .minist2{
        height: 100%;
        width: 75%;
        margin-left: 15%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        padding: 0;
        margin-top: 100px;
    }
    article .minist2 h3{
        font-size: 1.5em;
        text-align: center;  
        width: 100%;
    }
    article .minist2 .min {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
   
    article .minist2 .min .m2{
        border: 2px solid #7f8c8d;
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
    
    article .minist2 .m2 img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    
    }
    
    article .minist2 .min h5{
        font-size: 1em;
        display: flex;
        justify-content: center;
    }

    footer {
        background-color: #191e29;
        color: white;
        padding: 30px 0 15px;
        width: 100%;
        height: 290px;
        align-self: center;
        margin-top: 50px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    footer .footer-container {
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-bottom: 0px;
        border-bottom: 1px solid #7f8c8d;
    }
    
    footer .footer-column {
        width: 30%;
    }
    
    footer .footer-column h3 {
        margin-bottom: 7px;
        font-size: 15px;
        color: #fff;
    }
    
    footer .footer-column p {
        font-size: 14px;
        color: #ccc;
    }
    
    footer .footer-column ul {
        list-style-type: none;
        padding-left: 0;
    }
    
    footer.footer-column ul li {
        margin-bottom: 8px;
    }
    
    footer .footer-column ul li a {
        color: #bbb;
        text-decoration: none;
        font-size: 12px;
    }
    
    footer .footer-column ul li a:hover {
        color: #2980b9;
    }
    
    
    footer .social-icons {
        display: flex;
        flex-direction: column;
    }
    
    footer .social-icons li {
        margin-bottom: 10px;
    }
    
    footer .social-icons li a {
        display: flex;
        align-items: center;
        color: #bbb;
    }
    
    footer .social-icons li a i {
        margin-right: 10px;
        font-size: 18px;
    }

    footer .social-icons p{
        font-size: 12px;
    }
    
    footer .social-icons li a:hover {
        color: #2980b9;
    }
    
    
    footer .footer-bottom {
        text-align: center;
        margin-top: 100px;
    }
    
    footer .footer-bottom p {
        font-size: 12px;
        color: #ccc;
    }
    
    footer .footer-bottom p a {
        color: #2980b9;
        text-decoration: none;
    }
    
    footer .footer-bottom p a:hover {
        text-decoration: underline;
    }
}

@media (max-width: 480px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        padding-top: 0em;
        background-color: #fff;
    }
    :root{
        --Black: #191e29;
        --myBlue: #132d46;
        --theBlue: #023e8a;
        --beauty: #0096c7;
        --light-green: #01c38d;
        --myGrey: #696e79;
        --white: #fff;
        --myGrey: rgb(196, 189, 189);
        --theorange: rgb(199, 180, 76);
      }
    
      .video-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 45vh;
        overflow: hidden;
        z-index: -8; 
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
    }
     .video-container img{
        width: 100%;
    
    }
     .video-container img #bg-video {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
    
    header{
     
        width: 100%;
        height: 5em;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        position: fixed; 
        top: 0;
        z-index: 100;
   }
   .header.head-active{
    background-color: #132d46;
    height: 5em;
    position: fixed;
    top: 0;
    }
    header.head-active .menu #menu-btn{
        color: #fff;
    }

    header .logo {
        width: 3em;
        height: 4em;
        margin-top: 0.5em;
        margin-left: 2rem;
        
    }
    header .logo img{
    
        width: 100%;
        height: 100%;
        border-radius: 2px;
    }

    header .nav{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: beige;
        margin: 0;
        padding: 0;
        display: none;
    }
    header .navbar{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 50px;
        margin: 0;
        padding: 0;
        background-color: transparent;
    }
    header #close{
        display: flex;
        font-size: 24px;
        margin-left: 10em;
        margin-top: 30px;
        cursor: pointer;
    }
    header .navbar li{
        display: flex;  
        list-style: none;
        border: 1px solid rgb(214, 214, 214) ;
        width: 99%;
    }
    header .navbar li a{
        text-decoration: none;
        color: #132d46;
        font-weight: 400;
        padding: 5px;
        border-radius: 10px;
        width: 100%;
    }
    header nav ul li a.active {
        background-color: transparent;
        color: #01c38d;
    }
    header nav ul li a.active:hover{
        padding: 5px;
        border-bottom:  transparent;
        display: flex;
    }

    header nav ul li a:hover {
        color: #132d46;
        border-bottom: 0px solid #fff;
    }
    .header.head-active .navbar li a{
        color: #000;
    }
    .header.head-active nav ul li a.active{
        color: #01c38d;
    }
    .dropdown{
        display: flex;
        gap: 0px;
        width: 100%;
    }

    #about{
        width: 240px;
    }

    #dropdownIcon{
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-top: 5px;
        cursor: pointer;
        width: 100px;
    }
    
    .dropdown-content {
        flex-direction: column;
        position: absolute;
        right: 0px;
        top: 12em;
        left: 0px;
        width: 200px;
        height: 270px;
        background-color: beige;
        color: #fff; 
        font-weight: 300;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 101;
        gap: 40px;
        padding-top: 10px;
    }
    #navdrop {
        display: none;
    }

    #navdrop.show {
        display: flex;
    } 
    #cl {
        display: flex; 
        font-size: 18px;
        cursor: pointer;
    } 
    .dropdown-content a {
        color: #696e79;
        padding: 0;
        text-decoration: none;
        display: block;
        font-size: 15px;
        transition: background-color 0.3s ease, color 0.3s ease; 
        width: 100%;
    }
    .dropdown-content a.active{
        color: #01c38d;
    }
    .dropdown-content a:hover {
        background-color: #fff;
        color: #696e79;
    }
    .dropdown:hover .dropdown-content {
        display: flex;
    }

    header .menu {
        display: flex; 
        justify-content: flex-end;
        width: 80px;
        height: 30px;
        margin-left: 10em;
        margin-top: 25px;
    }
    header .menu #menu-btn {
        display: flex;
        cursor: pointer;
        font-size: 22px;
        color: #fff;
    }
    
    .mainCont{
        width: 100%;
        height: 45vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mainCont h4{
        font-size: 0.7em;
        color: #fff;
    }
     .mainCont h1{
        font-size: 3em;
        margin-top: 0px; /* Vertically center the content */
        color: #194a79;
        text-align: center;
        width: 350px;
        text-decoration: none;
     }
     .mainCont p{
        color:  #fff;
        font-size: 0.7em;
        width: 75%;
        text-align: center;
     }
     article{
        margin-top: 30%;
        width:  100%;
        height: 100%;
        padding: 10px;
     }
    article .content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    article .content  .top{
        display: flex;
        flex-direction: row;
        gap: 15px ;
        padding: 22px;
    }
    
    article .content .imgCont{
        width: 100px;
        height: 100px;
    }
    article .content .imgCont img{
        width: 100%;
        height: 100%;
    }
    article .content h2{
        margin-top: 30px;
        width: 400px;
        text-align: center;
    }
    
    article .content .repo1{
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin-left: 6%;
    }
    
    article .content .repo1 .img{
        width: 250px;
        height: auto;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    }

    article .content .repo1 .cont{
        width: 250px;
        margin-top: 60px;
    }
    article .content .repo1 .cont h1{
        color: #251919;
        font-size: 1em;
    }
    article .content .repo1 .cont h3{
        font-size: 10px;
    }
    article .content .repo2{
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin-left: 3%;
    }
    article .content .repo2 .cont{
        width: 250px;
        margin-top: 60px;
    }
    article .content .repo2 .cont h1{
        color: #251919;
        font-size: 1em;
    }
    article .content .repo2 .cont h3{
        font-size: 10px;
    }
    article .content .repo2 .img2{
        width: 200px;
        height: 200px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    }

    article .content .repo2 .img2 img{
        height: 100%;
    }
    article .minist{
        height: 100%;
        width: 95%;
        margin-left: 0%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 11px;
        padding: 0;
        margin-top: 50px;
    }
    article .minist h2{
        font-size: 2em;
    }
    article .minist .m1{
        border: 1px solid ;
        height: 90px;
        width: 90px;
    }
    article .minist h3{
        font-size: 0.6em;
    }
    article .minist2{
        height: 100%;
        width: 90%;
        margin-left: 5%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 0;
        margin-top: 50px;
    }

    article .minist2 h3{
        font-size: 1.2em;
        text-align: center;  
    }

    article .minist2 .min {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
    article .minist2 .min p{
        font-size: 12px;
    }
    
    article .minist2 .min .m2{
        border: 1px solid;
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }

    article .minist2 .min h5{
        font-size: 0.7em;
        display: flex;
        justify-content: center;
    }

    .fixed-icons {
        bottom: 10px; /* Reduce distance from the bottom */
        right: 10px; /* Reduce distance from the right */
        gap: 5px; /* Reduce space between icons */
    }

    .fixed-icons  .icon {
        width: 40px; /* Smaller icon size */
        height: 40px; /* Smaller icon size */
        font-size: 20px; /* Smaller icon size */
}
    footer {
        background-color: #191e29;
        color: white;
        padding: 10px 0 10px;
        width: 100%;
        height: 230px;
        align-self: center;
        margin-top: 40px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    
    footer .footer-container {
        width: 85%;
        height: 150px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-bottom: 0px;
        border-bottom: 1px solid #7f8c8d;
    }
    
    footer .footer-column {
        width: 30%;
    }
    
    footer .footer-column h3 {
        margin-bottom: 8px;
        font-size: 12px;
        color: #fff;
    }
    
    footer .footer-column p {
        font-size: 10px;
        color: #ccc;
    }
    
    footer .footer-column ul {
        list-style-type: none;
        padding-left: 0;
    }
    
    footer.footer-column ul li {
        margin-bottom: 5px;
    }
    
    footer .footer-column ul li a {
        color: #bbb;
        text-decoration: none;
        font-size: 10px;
    }
    
    footer .social-icons {
        display: flex;
        flex-direction: column;
    }
    
    footer .social-icons li {
        margin-bottom: 10px;
    }
    
    footer .social-icons li a {
        display: flex;
        align-items: center;
        color: #bbb;
    }
    
    footer .social-icons li a i {
        margin-right: 10px;
        font-size: 12px;
    }
    
    footer .social-icons li a:hover {
        color: #2980b9;
    }
    
    
    footer .footer-bottom {
        text-align: center;
        margin-top: 20px;
    }
    
    footer .footer-bottom p {
        font-size: 14px;
        color: #ccc;
    }
    
    footer .footer-bottom p a {
        color: #2980b9;
        text-decoration: none;
    }
    
    footer .footer-bottom p a:hover {
        text-decoration: underline;
    } 
}